#nome,#email{
    width: 100%;
    font-size: 80%;
    border: none;
    border-bottom: 1px solid grey;
    background-color: #F2FFFC;
    padding: 0.3em;
}
legend{
    font-weight: bold;
    padding-bottom: 0.5em;
}
.dados-pessoais input{
    margin-bottom: 0.5em;
}
.mensagem{
    padding-top: 1em;
    padding-bottom: 0.5em;
    display: block;
}
#msg{
    display: block;
    width: 100%;
    height: 30%;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 100%;
}
div form button{
    border: 0;/*tirar a borda que o navegador deixa padrão*/
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 80%;
    float: right;
    background-color: #3d1d3e;
    color: white;
}
input[value="outro"] ~ textarea {
    display: none;
}/*esconde o textarea quando o "outro" não estiver marcado*/
input[value="outro"]:checked ~ textarea {
    display: inline;
}/*mostra o textarea qunado o "outro" estiver marcado*/
textarea{
    padding: 0;
    margin: 0;
}


label[for="nome"] {
    position: relative;
}

label[for="nome"]:after {
    content: "";
    background-color: #3d1d3e;
    background-repeat: no-repeat;
    background-image: url(../img/usuario.png);
    background-size: 70% 70%;
    width: 1.45em;
    height: 1.45em;
    background-position: center;
    position: absolute;
    top: 100%;
    left:0;
}

#nome {
    width: calc(100% - 2em);
    position: relative;
    left: 2em;
}